* {
  font-family: "GothamProRegular"; }

a:hover {
  text-decoration: none; }

.body {
  overflow: hidden; }

.slow {
  animation-duration: 1.4s; }

.preloader {
  display: flex;
  position: fixed;
  background-color: #121212;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  pointer-events: none;
  opacity: 1;
  transition: all 0.35s ease; }
  .preloader__svg {
    height: 50px;
    animation: pulsing backwards 3s ease-in-out infinite; }

/*********************/
/****** BUTTON *******/
/*********************/
.a-btn-1 {
  background-color: transparent;
  border: 2px solid #a8161a;
  color: #fff;
  padding: 18px 66px;
  border-radius: 27.5px;
  transition: all 0.35s ease;
  background-color: #a8161a;
  background-image: linear-gradient(to right, transparent 50%, #a8161a 50%);
  border-color: #a8161a;
  border-width: 2px;
  border-style: solid;
  background-size: 200% 100%;
  background-position: right bottom; }
  .a-btn-1:hover {
    background-color: transparent;
    background-position: left bottom;
    color: white; }

.a-btn-2 {
  border: 2px solid #a8161a;
  padding: 18px 66px;
  border-radius: 27.5px;
  transition: all 0.35s ease;
  color: #000;
  background-color: transparent;
  border-color: #a8161a;
  border-width: 2px;
  border-style: solid;
  background-size: 200% 100%;
  background-position: right bottom; }
  .a-btn-2:focus {
    outline: 0; }
  .a-btn-2:hover {
    background-color: #a8161a;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #a8161a), color-stop(50%, transparent));
    background-image: linear-gradient(to right, #a8161a 50%, transparent 50%);
    color: #fff;
    background-position: left bottom; }

/*******************/
/****** FORM *******/
/*******************/
.custom__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.custom__box-input {
  position: relative;
  width: 100%; }
  .custom__box-input:not(:first-of-type) {
    margin-top: 30px; }

.custom__input {
  border: none;
  width: 100%;
  border-bottom: 1px solid #000;
  padding: 14px 0;
  transition: all 0.35s ease;
  background-color: transparent; }
  .custom__input:focus {
    border-bottom: 1px solid #a8161a; }
  .custom__input:focus, .custom__input:valid {
    outline: 0;
    color: #000; }
    .custom__input:focus ~ label, .custom__input:valid ~ label {
      top: -5px;
      font-size: 14px; }

.custom__label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.35s ease;
  font-size: 18px;
  color: #000;
  pointer-events: none; }

.custom__btn {
  margin-top: 50px; }

@media all and (max-width: 550px) {
  .custom__btn {
    padding: 18px 53px; } }

/*********************/
/****** HEADINGS *******/
/*********************/
.heading {
  position: relative;
  padding-bottom: 45px;
  margin-bottom: 110px; }
  .heading span {
    font-size: 53px;
    color: #000;
    line-height: 0.7;
    text-transform: uppercase;
    display: inline-block;
    position: relative; }
  .heading-title {
    font-family: "GothamProBlack"; }
    .heading-title-light {
      padding-bottom: 25px; }
    .heading-title-wrap {
      display: inline-block;
      position: relative; }
      .heading-title-wrap::after {
        left: calc(100% + 30px);
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(18, 18, 18, 0);
        border-left-color: #000;
        border-width: 25px;
        margin-top: -25px;
        top: 0;
        transform: rotate(-45deg); }
  .heading::before {
    content: '';
    display: block;
    background-image: url(../img/img.png);
    background-repeat: no-repeat;
    height: 280px;
    width: 4px;
    position: absolute;
    top: calc(-280px - 30px); }
  .heading::after {
    content: '';
    position: absolute;
    width: 120px;
    height: 10px;
    background-color: #a8161a;
    bottom: 0;
    left: -60px;
    border-radius: 5px; }
  @media all and (max-width: 1440px) {
    .heading span {
      font-size: 40px; }
    .heading-title::after {
      border-width: 23px;
      margin-top: -23px; } }
  @media all and (max-width: 991px) {
    .heading {
      margin-bottom: 80px;
      padding-bottom: 30px; } }
  @media all and (max-width: 767px) {
    .heading {
      margin-bottom: 40px;
      padding-bottom: 20px; }
      .heading span {
        font-size: 34px; }
      .heading-title::after {
        border-width: 18px;
        margin-top: -18px;
        left: calc(100% + 18px); }
      .heading::before {
        display: none; }
      .heading::after {
        width: 80px;
        height: 6px;
        left: -40px;
        border-radius: 3px; } }
  @media all and (max-width: 550px) {
    .heading::after {
      left: 0; }
    .heading span {
      font-size: 28px; }
    .heading-title-wrap::after {
      border-width: 17px;
      margin-top: -18px;
      left: calc(100% + 15px); } }

/*********************/
/****** HEADER *******/
/*********************/
.header {
  margin-bottom: 85px; }
  .header__red-svg {
    position: absolute;
    left: -11vw;
    top: 56vh;
    width: 44%;
    animation: fragment_1 backwards 40s ease-in-out infinite;
    pointer-events: none; }
  .header__wrap {
    overflow: hidden;
    position: relative; }
  .header__svg {
    position: absolute;
    width: 50vw;
    right: -12vw;
    bottom: -24vh;
    z-index: -1; }
  .header__arrow {
    position: absolute;
    left: 50%;
    bottom: -55px;
    z-index: 1212;
    transform: translateX(-50%);
    color: #fff;
    font-size: 40px; }
  .header::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #121212;
    z-index: -1; }
  .header::after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(18, 18, 18, 0);
    border-top-color: #121212;
    border-width: 85px;
    margin-left: -85px; }

@media all and (max-width: 1199px) {
  .header::after {
    border-width: 65px;
    margin-left: -65px; }
  .header__arrow {
    bottom: -50px;
    font-size: 35px; } }

@media all and (max-width: 991px) {
  .header {
    background-position: -30% 140%;
    background-size: 50%; }
    .header__svg {
      width: 63vw;
      right: -12vw;
      bottom: -16vh; } }

@media all and (max-width: 767px) {
  .header {
    margin-bottom: 45px; }
    .header__red-svg {
      display: none; }
    .header__svg {
      width: 74vw;
      bottom: -13vh; }
    .header::after {
      border-width: 45px;
      margin-left: -45px; }
    .header__arrow {
      bottom: -39px;
      font-size: 30px; } }

@media all and (max-width: 500px) {
  .header__svg {
    width: 95vw;
    bottom: -10vh; } }

@media all and (max-width: 375px) {
  .header {
    margin-bottom: 0; }
    .header__svg {
      width: 120vw;
      bottom: -10vh;
      right: -60vw; }
    .header__arrow {
      bottom: 15px; }
    .header::after {
      display: none; } }

/*******************/
/****** MENU *******/
/*******************/
@media all and (min-width: 1025px) {
  .menu {
    padding: 25px 80px; }
    .menu__desktop {
      display: grid;
      grid-template-columns: 290px 1fr 290px; }
    .menu__mobile {
      display: none; }
    .menu__items-wrap {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      margin-bottom: 0;
      padding-left: 0; }
    .menu__item {
      list-style: none;
      position: relative; }
      .menu__item a {
        color: #fff; }
      .menu__item:not(:last-of-type) {
        margin-right: 40px; }
      .menu__item::before {
        content: '';
        width: 0;
        height: 3px;
        background-color: #a8161a;
        position: absolute;
        bottom: 0;
        right: 0;
        transition: all 0.35s ease;
        border-radius: 1.5px; }
      .menu__item:hover::before {
        width: 37px; }
      .menu__item.active a {
        font-family: "GothamProBold";
        font-weight: 600; }
      .menu__item.active::before {
        width: 37px; }
    .menu__language-wrap {
      display: flex;
      justify-content: flex-end;
      align-items: center; }
    .menu__language-item {
      color: #fff;
      margin-right: 20px;
      position: relative;
      line-height: 1;
      transition: all 0.35s ease; }
      .menu__language-item::before {
        content: '';
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 40px;
        height: 40px;
        z-index: -1;
        border-radius: 50%;
        opacity: 0;
        transition: all 0.35s ease; }
      .menu__language-item.active {
        color: #000; }
        .menu__language-item.active::before {
          opacity: 1; }
      .menu__language-item:hover {
        cursor: pointer; } }

@media all and (min-width: 1025px) and (max-width: 1440px) {
  .menu__desktop {
    grid-template-columns: 290px 1fr auto; }
  .menu__items-wrap {
    margin-right: 60px; } }

/*************************/
/****** MOBILE MENU ******/
/*************************/
@media all and (max-width: 1024px) {
  .menu {
    padding: 15px; }
    .menu__desktop {
      display: none; }
    .menu__mobile {
      display: flex;
      align-items: center;
      justify-content: space-between; }
    .menu__hamburger {
      display: flex;
      align-items: center; }
      .menu__hamburger i {
        color: #fff;
        border: 1px solid #fff;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-bottom: 15px; }
    .menu__right {
      position: absolute;
      padding: 0;
      top: 0;
      right: 0;
      background-color: #fff;
      transition: all 0.35s ease;
      z-index: 999; }
      .menu__right.active {
        box-shadow: 0 0px 20px rgba(255, 255, 255, 0.8); }
    .menu__close {
      color: #000;
      display: flex;
      align-items: center;
      width: 320px;
      padding: 25px 35px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
      .menu__close i {
        font-size: 30px;
        margin-right: 15px; }
      .menu__close-icon {
        position: relative;
        padding-left: 35px; }
        .menu__close-icon::before, .menu__close-icon::after {
          content: '';
          background-color: #000;
          position: absolute;
          width: 30px;
          height: 2px;
          top: 50%;
          left: 0; }
        .menu__close-icon::before {
          transform: rotate(45deg) translateY(-50%); }
        .menu__close-icon::after {
          transform: rotate(-45deg) translateY(-50%); }
    .menu__items-wrap {
      padding-left: 0;
      margin-bottom: 0; }
    .menu__item {
      list-style: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 0.2px;
      padding: 15px 35px;
      line-height: normal;
      transition: all 0.35s ease;
      position: relative; }
      .menu__item::before {
        content: '';
        width: 0;
        height: 3px;
        background-color: #a8161a;
        position: absolute;
        bottom: 0;
        left: 35px;
        transition: all 0.35s ease;
        border-radius: 1.5px; }
      .menu__item a {
        color: #000; }
      .menu__item.active a {
        font-family: "GothamProBold";
        font-weight: 600; }
      .menu__item.active::before {
        width: 37px; }
    .menu__language-wrap {
      display: flex;
      justify-content: center;
      padding: 25px 35px; }
    .menu__language-item {
      color: #000;
      position: relative;
      transition: all 0.35s ease; }
      .menu__language-item:not(:last-of-type) {
        margin-right: 25px; }
      .menu__language-item::before {
        content: '';
        background-color: #000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 40px;
        height: 40px;
        z-index: -1;
        border-radius: 50%;
        opacity: 0;
        transition: all 0.35s ease; }
      .menu__language-item.active {
        color: #fff; }
        .menu__language-item.active::before {
          opacity: 1; }
      .menu__language-item:hover {
        cursor: pointer; }
    .menu__logo-svg {
      height: 50px; } }

@media all and (max-width: 375px) {
  .menu__logo-svg {
    width: 70%; } }

/*********************/
/****** BANNER *******/
/*********************/
.banner {
  display: flex;
  align-items: center; }
  .banner__title {
    font-size: 32px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.391;
    max-width: 810px;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 70px; }
    .banner__title::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #a8161a;
      width: 117px;
      height: 10px;
      border-radius: 5px; }
  .banner__title-bold {
    font-family: "GothamProBlack"; }
  .banner__desc {
    font-size: 22px;
    color: #fff;
    line-height: 1.455;
    max-width: 910px;
    margin-bottom: 115px; }

@media all and (max-width: 991px) {
  .banner__title {
    max-width: none;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 30px; }
  .banner__desc {
    margin-bottom: 60px;
    max-width: 100%; } }

@media all and (max-width: 767px) {
  .banner__title {
    font-size: 24px; }
  .banner__desc {
    font-size: 18px; } }

@media all and (max-width: 375px) {
  .banner__content {
    text-align: center;
    padding-bottom: 80px; }
  .banner__title {
    font-size: 4.9vw;
    padding-bottom: 30px; }
    .banner__title::before {
      left: 50%;
      transform: translateX(-50%); }
  .banner__desc {
    font-size: 4vw; }
  .banner__title-bold {
    display: block; } }

/***********************/
/****** SERVICES *******/
/***********************/
.services {
  background-repeat: no-repeat;
  background-position: 120% 75vh;
  position: relative;
  padding-top: 310px; }
  .services::after {
    content: url(../img/black.svg);
    display: block;
    position: absolute;
    left: 66vw;
    top: 60vh;
    width: 750px;
    transform: rotate(-90deg);
    z-index: -5;
    animation: fragment_1 backwards 40s ease-in-out infinite; }
  .services__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 45px; }
  .services__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 70px;
    z-index: 1;
    position: relative; }
    .services__item img {
      width: 70px; }
  .services__desc {
    font-size: 23px;
    color: #000;
    text-transform: uppercase;
    line-height: 1.391;
    margin-top: 55px;
    position: relative;
    padding-bottom: 15px; }
    .services__desc::before {
      content: '';
      position: absolute;
      width: 63px;
      height: 3px;
      background-color: #a8161a;
      bottom: 0; }

@media all and (max-width: 991px) {
  .services {
    padding: 310px 15px 0; }
    .services__items {
      grid-gap: 25px; }
    .services__item {
      margin-bottom: 40px; }
    .services__desc {
      font-size: 18px;
      margin-top: 30px; } }

@media all and (max-width: 767px) {
  .services {
    padding-top: 85px; }
    .services::after {
      display: none; }
    .services__items {
      grid-template-columns: repeat(3, 1fr); }
    .services__item img {
      width: 35%; } }

@media all and (max-width: 550px) {
  .services__items {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px; }
  .services__item img {
    width: 55px; } }

@media all and (max-width: 375px) {
  .services__item {
    margin-bottom: 20px; }
    .services__item img {
      width: 35px; }
  .services__desc {
    font-size: 16px;
    margin-top: 20px; } }

/********************/
/****** FACTS *******/
/********************/
.facts {
  padding-top: 360px;
  position: relative; }
  .facts::after {
    content: url(../img/black.svg);
    display: block;
    position: absolute;
    left: -10vw;
    top: 57vh;
    width: 750px;
    transform: rotate(-90deg);
    pointer-events: none;
    animation: fragment_1 backwards 40s ease-in-out infinite; }
  .facts .heading-title-wrap::after {
    border-width: 75px;
    margin-top: -78px; }
  .facts__desc {
    margin-bottom: 230px; }
  .facts__btn {
    margin: 18px 0; }
  .facts__right-btn {
    display: none; }
  .facts__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .facts__left {
    position: relative; }
    .facts__left::before {
      content: '';
      background-color: #f7f7f7;
      position: absolute;
      width: 1000%;
      height: 530px;
      z-index: -2;
      right: -45px;
      top: 47px;
      pointer-events: none; }
  .facts__right {
    position: relative;
    padding-left: 45px; }
    .facts__right::before {
      content: '';
      position: absolute;
      top: -55px;
      bottom: -55px;
      z-index: -1;
      left: 45px;
      width: 300%;
      background-color: #121212;
      pointer-events: none; }
    .facts__right::after {
      content: '';
      position: absolute;
      height: 140px;
      width: 22px;
      left: calc( 45px - 11px);
      top: 50%;
      background-color: #a8161a;
      transform: translateY(-50%);
      z-index: 0;
      border-radius: 11px; }
  .facts__desc {
    font-size: 23px;
    color: #000;
    text-transform: uppercase;
    line-height: 1.921; }
  .facts__heading {
    margin-bottom: 80px; }
  .facts__items {
    padding-left: 85px;
    list-style: none; }
  .facts__item {
    padding-left: 100px;
    color: #fff;
    font-size: 23px;
    line-height: 1.304;
    position: relative; }
    .facts__item span {
      font-family: "GothamProBold"; }
    .facts__item:not(:last-of-type) {
      margin-bottom: 65px; }
    .facts__item::before {
      content: "";
      position: absolute;
      background-image: url("../img/check.png");
      width: 44px;
      height: 42px;
      left: 0;
      top: 50%;
      transform: translateY(-50%); }

@media all and (max-width: 1199px) {
  .facts__right {
    padding-left: 0; }
    .facts__right::before {
      left: 0; }
    .facts__right::after {
      left: -11px; }
  .facts__desc {
    font-size: 18px; }
  .facts__items {
    padding-left: 55px; }
  .facts__item {
    padding-left: 70px; }
    .facts__item:not(:last-of-type) {
      margin-bottom: 45px; }
  .facts::after {
    left: -30vw;
    top: 60vh; } }

@media all and (max-width: 991px) {
  .facts .heading-title-wrap::after {
    left: 100%;
    border-width: 60px;
    margin-top: -62px; }
  .facts__item {
    font-size: 20px; } }

@media all and (max-width: 767px) {
  .facts {
    padding-top: 85px; }
    .facts::after {
      display: none; }
    .facts__wrap {
      grid-template-columns: 1fr; }
    .facts__desc {
      margin-bottom: 45px; }
    .facts__left::before {
      height: 300px;
      top: 33px; }
    .facts__right {
      margin-top: 140px;
      z-index: 1; } }

@media all and (max-width: 550px) {
  .facts .heading-title-wrap::after {
    left: 97%;
    border-width: 45px;
    margin-top: -47px; } }

@media all and (max-width: 375px) {
  .facts__heading {
    margin-bottom: 45px; }
  .facts__items {
    padding-left: 0; }
  .facts__item {
    font-size: 16px;
    padding-left: 60px;
    margin-bottom: 45px; }
    .facts__item::before {
      background-size: 80%;
      background-repeat: no-repeat;
      background-position: left center; }
  .facts__desc {
    font-size: 4vw;
    margin-bottom: 30px; }
  .facts__left::before {
    display: none; }
  .facts_btn {
    display: none; }
  .facts__right {
    margin-top: 54px; }
    .facts__right::before {
      left: -30px; }
    .facts__right::after {
      display: none; }
  .facts__right-btn {
    display: block;
    padding-top: 15px;
    background: 15px;
    text-align: center; }
    .facts__right-btn a {
      color: #fff; } }

/***********************/
/******* CLIENTS *******/
/***********************/
.clients {
  padding-top: 280px;
  position: relative; }
  .clients::after {
    content: url(../img/black.svg);
    display: block;
    position: absolute;
    left: 71vw;
    top: 38vh;
    width: 750px;
    transform: rotate(-90deg) rotateX(180deg);
    z-index: -5;
    animation: fragment_1 backwards 40s ease-in-out infinite; }
  .clients__items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    align-items: center;
    text-align: center; }
  .clients__item {
    filter: grayscale(1);
    transition: all 0.35s ease; }
    .clients__item img {
      max-width: 80%; }
    .clients__item:hover {
      filter: grayscale(0); }

@media all and (max-width: 1199px) {
  .clients__item img {
    max-width: 80%; } }

@media all and (max-width: 991px) {
  .clients__items {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px; } }

@media all and (max-width: 767px) {
  .clients {
    padding-top: 140px; }
    .clients::after {
      display: none; }
    .clients__items {
      grid-template-columns: repeat(3, 1fr); }
    .clients__item img {
      max-width: 70%; } }

@media all and (max-width: 550px) {
  .clients__items {
    grid-template-columns: repeat(2, 1fr); }
  .clients__item img {
    max-width: 60%; } }

/********************/
/******* INFO *******/
/********************/
.info {
  position: relative;
  padding-top: 460px; }
  .info::after {
    content: url(../img/black.svg);
    display: block;
    position: absolute;
    left: -14vw;
    top: 54vh;
    width: 750px;
    transform: rotate(-90deg);
    z-index: -5;
    pointer-events: none;
    animation: fragment_1 backwards 40s ease-in-out infinite; }
  .info .heading-title-wrap::after {
    border-width: 75px;
    margin-top: -78px; }
  .info .slick-list {
    padding: 0 !important;
    height: 100%; }
  .info .slick-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .info .slick-slider,
  .info .slick-track {
    height: 100%; }
  .info__btn {
    margin-top: 116px;
    margin-bottom: 55px; }
  .info__img {
    width: 100%; }
  .info__wrap {
    display: flex; }
  .info__slider-left {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1; }
    .info__slider-left .slick-slide {
      min-height: 475px; }
    .info__slider-left .pagingInfo {
      font-size: 18px;
      color: #000;
      padding-left: 165px;
      display: flex;
      line-height: 1;
      position: absolute;
      bottom: 150px; }
      .info__slider-left .pagingInfo__current {
        font-size: 45px;
        font-family: "GothamProBold"; }
      .info__slider-left .pagingInfo__count {
        margin-top: 3px; }
    .info__slider-left .slick-next,
    .info__slider-left .slick-prev {
      top: auto;
      bottom: calc(150px - 32px);
      display: flex;
      height: 55px;
      width: 55px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #121212;
      z-index: 20;
      transition: all 0.35s ease; }
      .info__slider-left .slick-next::before,
      .info__slider-left .slick-prev::before {
        color: #fff;
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        opacity: 1;
        transition: all 0.35s ease; }
      .info__slider-left .slick-next:hover,
      .info__slider-left .slick-prev:hover {
        background-color: #fff;
        box-shadow: 0px 0px 15.04px 0.96px rgba(0, 0, 0, 0.14); }
        .info__slider-left .slick-next:hover::before,
        .info__slider-left .slick-prev:hover::before {
          color: #000; }
    .info__slider-left .slick-prev {
      left: 0; }
      .info__slider-left .slick-prev::before {
        content: '\f0d9'; }
    .info__slider-left .slick-next {
      left: 75px; }
      .info__slider-left .slick-next::before {
        content: '\f0da'; }
  .info__slider-right .slick-slide {
    display: flex;
    align-items: center;
    justify-content: center; }
  .info__slider-right .slick-slider {
    position: relative; }
    .info__slider-right .slick-slider::before {
      content: '';
      position: absolute;
      top: 20%;
      left: -25%;
      width: 100%;
      height: 100%;
      background-color: #f7f7f7;
      z-index: -1; }
  .info__slider-right .slick-next,
  .info__slider-right .slick-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    transition: all 0.35s ease; }
    .info__slider-right .slick-next::before,
    .info__slider-right .slick-prev::before {
      color: #000;
      font-family: "Font Awesome 5 Free";
      font-weight: 600;
      opacity: 1;
      transition: all 0.35s ease;
      font-size: 40px; }
    .info__slider-right .slick-next:hover::before,
    .info__slider-right .slick-prev:hover::before {
      opacity: .7; }
  .info__slider-right .slick-prev {
    left: 15px; }
    .info__slider-right .slick-prev::before {
      content: '\f053'; }
  .info__slider-right .slick-next {
    right: 15px; }
    .info__slider-right .slick-next::before {
      content: '\f054'; }
  .info__title {
    font-size: 22px;
    color: #000;
    font-weight: bold;
    line-height: 1.182;
    font-family: "GothamProBold";
    margin-bottom: 40px;
    margin-top: 60px; }
  .info__desc {
    font-size: 14px;
    color: #000;
    line-height: 1.571;
    max-width: 472px; }

@media all and (max-width: 1199px) {
  .info__title {
    margin-bottom: 20px; }
  .info__desc {
    margin-bottom: 30px;
    padding-right: 15px; }
  .info__btn {
    margin-top: 60px; } }

@media all and (max-width: 991px) {
  .info {
    padding-top: 360px; }
    .info .heading-title-wrap::after {
      left: 100%;
      border-width: 60px;
      margin-top: -62px; }
    .info__wrap {
      flex-direction: column-reverse; }
    .info__slider-left .slick-slide {
      min-height: 330px; }
    .info__slider-left .pagingInfo {
      top: 62%; }
    .info__slider-left .slick-next,
    .info__slider-left .slick-prev {
      top: calc(62% + 17px); }
    .info__title {
      margin-top: 0; }
    .info__btn {
      margin-bottom: 15px; }
    .info__slider-left {
      width: 100%; }
    .info__desc {
      min-width: 100%; }
    .info__slider-right {
      margin-bottom: 50px; }
      .info__slider-right .slick-slider::before {
        top: 12%;
        left: -7%; } }

@media all and (max-width: 991px) {
  .info {
    padding-top: 230px; } }

@media all and (max-width: 767px) {
  .info {
    padding-top: 85px; }
    .info::after {
      display: none; }
    .info__slider-left .slick-slide {
      min-height: 385px; }
    .info__btn {
      text-align: center; } }

@media all and (max-width: 550px) {
  .info .heading-title-wrap::after {
    left: 97%;
    border-width: 45px;
    margin-top: -47px; }
  .info__btn .a-btn-2 {
    padding: 18px 48px; }
  .info__slider-left .slick-slide {
    min-height: 380px; }
  .info__slider-left .pagingInfo {
    top: 64%; }
  .info__slider-left .slick-next,
  .info__slider-left .slick-prev {
    top: calc(64% + 17px); }
  .info__desc {
    max-height: 9.226em;
    overflow: hidden; } }

@media all and (max-width: 375px) {
  .info__title {
    font-size: 5vw;
    margin-bottom: 30px; }
  .info__slider-right {
    margin-left: -15px;
    margin-right: -15px; }
    .info__slider-right .slick-slider::before {
      display: none; }
    .info__slider-right .slick-next::before,
    .info__slider-right .slick-prev::before {
      font-size: 20px; }
    .info__slider-right .slick-prev {
      left: 0; }
    .info__slider-right .slick-next {
      right: 0; } }

/************************/
/******* PARTNERS *******/
/************************/
.partners {
  padding-top: 380px; }
  .partners .partners__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .partners .partners__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
  .partners .partners__left {
    position: relative; }
    .partners .partners__left::before {
      content: '';
      position: absolute;
      height: 120%;
      width: 500%;
      top: 25px;
      right: 0;
      background-color: #f7f7f7;
      z-index: -1; }
  .partners .partners__title {
    font-size: 53px;
    text-transform: uppercase;
    margin-bottom: 75px;
    line-height: 1; }
    .partners .partners__title a {
      color: #000;
      transition: all 0.35s ease; }
      .partners .partners__title a:hover {
        filter: grayscale(1); }
    .partners .partners__title span {
      color: #fc0d1b;
      font-family: "GothamProBlackItalic"; }
  .partners .partners__subtitle {
    font-size: 28px;
    font-family: "GothamProBold";
    color: #000;
    text-transform: uppercase;
    margin-bottom: 30px;
    line-height: 1; }
  .partners .partners__desc {
    font-size: 28px;
    color: #000;
    text-transform: uppercase; }
    .partners .partners__desc a {
      transition: all 0.35s ease;
      color: #00cfff; }
      .partners .partners__desc a:hover {
        color: #fc0d1b; }
  .partners .partners__pay {
    font-size: 65px;
    margin-bottom: 75px;
    line-height: 1; }
    .partners .partners__pay a {
      font-family: "GothamProBoldItalic";
      color: #000; }

@media all and (max-width: 1440px) {
  .partners .partners__title {
    font-size: 45px; }
  .partners .partners__pay {
    font-size: 55px; } }

@media all and (max-width: 1199px) {
  .partners .partners__title {
    font-size: 40px;
    margin-bottom: 55px; }
  .partners .partners__pay {
    font-size: 50px;
    margin-bottom: 55px; }
  .partners .partners__desc {
    font-size: 22px; }
  .partners .partners__subtitle {
    font-size: 25px;
    margin-bottom: 25px; } }

@media all and (max-width: 991px) {
  .partners .partners__left::before {
    top: 17px; }
  .partners .partners__title {
    font-size: 32px;
    margin-bottom: 35px; }
  .partners .partners__pay {
    font-size: 42px;
    margin-bottom: 26px; }
  .partners .partners__desc {
    font-size: 17px; }
  .partners .partners__subtitle {
    font-size: 20px;
    margin-bottom: 20px; } }

@media all and (max-width: 767px) {
  .partners {
    padding-top: 125px; }
    .partners .partners__wrap {
      grid-template-columns: 1fr; }
    .partners .partners__right {
      align-items: flex-start; }
    .partners .partners__title {
      font-size: 40px;
      margin-bottom: 35px; }
    .partners .partners__pay {
      font-size: 50px;
      margin-top: 26px; }
    .partners .partners__desc {
      font-size: 24px; }
    .partners .partners__subtitle {
      font-size: 24px;
      margin-bottom: 15px; } }

@media all and (max-width: 550px) {
  .partners .partners__title {
    font-size: 28px;
    margin-bottom: 24px; }
  .partners .partners__pay {
    font-size: 45px;
    margin-bottom: 20px; }
  .partners .partners__desc {
    font-size: 14px; }
  .partners .partners__subtitle {
    font-size: 20px;
    margin-bottom: 20px; } }

@media screen and (max-width: 375px) {
  .partners .partners__left::before {
    display: none; }
  .partners .partners__subtitle,
  .partners .partners__desc {
    font-size: 4.5vw; } }

/************************/
/******* CONTACTS *******/
/************************/
.contacts {
  margin-top: 420px;
  position: relative;
  margin-bottom: 210px; }
  .contacts::after {
    content: url(../img/black.svg);
    display: block;
    position: absolute;
    left: 68vw;
    top: 37vh;
    width: 750px;
    transform: rotate(-90deg);
    z-index: -5;
    animation: fragment_1 backwards 40s ease-in-out infinite; }
  .contacts .contacts__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .contacts .contacts__wrap {
    position: relative; }
  .contacts .contacts__ava {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }
  .contacts .contacts__people {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 35px;
    margin-top: 140px; }
  .contacts .contacts__right {
    padding-left: 50px;
    position: relative; }
    .contacts .contacts__right::before {
      position: absolute;
      content: '';
      width: 500%;
      height: 110%;
      right: 90px;
      z-index: -1;
      top: 140px;
      background-color: #121212; }
    .contacts .contacts__right::after {
      content: '';
      position: absolute;
      height: 140px;
      width: 22px;
      right: 79px;
      top: 193px;
      background-color: #a8161a;
      z-index: 0;
      border-radius: 11px; }
  .contacts .contacts__name {
    font-size: 45px;
    font-family: "GothamProBold";
    color: #a8161a;
    line-height: 1; }
  .contacts .contacts__position {
    font-size: 45px;
    color: #000;
    line-height: 1;
    text-transform: uppercase; }
  .contacts .contacts__desc {
    font-size: 22px;
    color: #fff;
    line-height: 1.345;
    padding-right: 22%;
    z-index: 5; }
    .contacts .contacts__desc:not(:first-of-type) {
      margin-top: 65px; }
  .contacts .contacts__desc-bold {
    font-family: "GothamProBold"; }
  .contacts .contacts__content {
    margin-bottom: 85px;
    margin-top: 15px; }
  .contacts .contacts__person-name {
    font-size: 18px;
    color: #a8161a;
    font-family: "GothamProBold";
    line-height: 1.444;
    margin-top: 30px; }
  .contacts .contacts__person-position {
    font-size: 18px;
    color: #000;
    line-height: 1.444; }
  .contacts .contacts__person-ava {
    width: 100%; }

@media all and (max-width: 1680px) {
  .contacts .contacts__ava {
    top: 140px;
    opacity: .5; } }

@media all and (max-width: 1199px) {
  .contacts {
    margin-bottom: 140px; }
    .contacts .contacts__right::before {
      height: 100%; } }

@media all and (max-width: 991px) {
  .contacts {
    margin-bottom: 0; }
    .contacts .contacts__wrapper {
      grid-template-columns: 1fr; }
    .contacts .contacts__right {
      padding-left: 0; }
      .contacts .contacts__right::before {
        top: 37px; }
    .contacts .contacts__position {
      color: #fff; }
    .contacts .contacts__content {
      margin-bottom: 75px; }
    .contacts .contacts__ava {
      height: 500px; }
    .contacts .contacts__people {
      margin-top: 80px; }
    .contacts .contacts__desc:not(:first-of-type) {
      margin-top: 25px; } }

@media all and (max-width: 767px) {
  .contacts {
    margin-top: 85px; }
    .contacts::after {
      display: none; }
    .contacts .contacts__desc {
      padding-right: 15px; }
    .contacts .contacts__right {
      padding-left: 0; }
      .contacts .contacts__right::before {
        right: 0; }
      .contacts .contacts__right::after {
        right: -11px; } }

@media all and (max-width: 550px) {
  .contacts .contacts__desc {
    padding-right: 15px; }
  .contacts .contacts__people {
    grid-gap: 15px; }
  .contacts .contacts__content {
    margin-bottom: 535px; }
  .contacts .contacts__ava {
    opacity: 1;
    left: 15px;
    max-width: calc(100% - 45px);
    top: 100px; }
  .contacts .contacts__name {
    font-size: 34px; }
  .contacts .contacts__position {
    font-size: 34px; }
  .contacts .contacts__person-name {
    margin-top: 10px; }
  .contacts .contacts__desc {
    font-size: 19px;
    padding-right: 15px; }
  .contacts .contacts__right::before {
    top: 48px; }
  .contacts .contacts__right::after {
    top: 620px; } }

@media screen and (max-width: 375px) {
  .contacts .contacts__right::before {
    right: -30px;
    top: 15px;
    height: 104%; }
  .contacts .contacts__right::after {
    display: none; }
  .contacts .contacts__ava {
    height: 250px;
    top: 0; }
  .contacts .contacts__desc {
    font-size: 14px; }
    .contacts .contacts__desc:not(:first-of-type) {
      margin-top: 40px; }
  .contacts .contacts__content {
    margin-left: 157px;
    margin-top: 40px;
    margin-bottom: 175px; }
  .contacts .contacts__name {
    font-size: 8vw; }
  .contacts .contacts__position {
    font-size: 8vw;
    margin-top: 10px; }
  .contacts .contacts__person-name {
    font-size: 15px; }
  .contacts .contacts__person-position {
    font-size: 15px; } }

/************************/
/******* LOCATION *******/
/************************/
.location {
  padding-top: 380px;
  margin-bottom: 150px;
  position: relative; }
  .location::after {
    content: url(../img/black.svg);
    display: block;
    position: absolute;
    left: -17vw;
    top: 39vh;
    width: 750px;
    transform: rotate(-90deg);
    z-index: -5;
    pointer-events: none;
    animation: fragment_1 backwards 40s ease-in-out infinite; }
  .location .location__map {
    width: 100%;
    height: 100%;
    filter: grayscale(1); }
  .location .location__wrap {
    display: flex; }
  .location .location__left {
    width: 50%; }
  .location .location__heading {
    margin-bottom: 70px; }
  .location .location__form {
    padding-right: 85px; }
  .location .location__btn {
    margin-top: 90px; }
  .location .location__map-wrap {
    position: relative;
    width: 50%;
    margin-top: -161px; }
    .location .location__map-wrap::before {
      position: absolute;
      content: '';
      height: 2px;
      width: 400%;
      background-color: #a8161a;
      top: 0;
      left: 0;
      z-index: 12; }
  .location .location__info {
    font-size: 18px;
    color: #000;
    line-height: 1.978;
    margin-bottom: 40px; }
    .location .location__info-bold {
      font-family: "GothamProBold"; }

@media all and (max-width: 1199px) {
  .location {
    margin-bottom: 110px; }
    .location .location__map-wrap {
      margin-top: -151px; } }

@media all and (max-width: 991px) {
  .location {
    margin-bottom: 80px; }
    .location::after {
      top: 104vh; }
    .location .location__wrap {
      display: flex;
      flex-direction: column; }
    .location .location__map {
      width: 100%;
      height: 400px; }
    .location .location__left {
      width: 100%; }
    .location .location__form {
      padding-right: 0; }
    .location .location__info {
      margin-bottom: 20px; }
    .location .location__heading {
      margin-bottom: 70px; }
    .location .location__btn {
      margin-top: 50px; }
    .location .location__map-wrap {
      width: 100%;
      margin-top: 50px; }
      .location .location__map-wrap::before {
        width: 100%; } }

@media all and (max-width: 767px) {
  .location {
    padding-top: 85px;
    margin-bottom: 0; }
    .location::after {
      display: none; }
    .location .location__btn {
      margin-top: 25px; } }

@media all and (max-width: 375px) {
  .location .location__map-wrap {
    margin-left: -15px;
    margin-right: -15px; }
    .location .location__map-wrap::before {
      display: none; }
  .location .location__map {
    width: calc(100% + 30px); }
  .location .location__btn {
    margin-top: 50px; } }

/**********************/
/******* FOOTER *******/
/**********************/
.footer {
  background-color: #121212; }
  .footer .menu {
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer .menu__item {
      list-style: none;
      position: relative;
      padding: 0;
      line-height: inherit;
      font-size: 16px; }
      .footer .menu__item::before {
        content: '';
        width: 0;
        height: 3px;
        background-color: #a8161a;
        position: absolute;
        bottom: 0;
        right: 0;
        transition: all 0.35s ease;
        border-radius: 1.5px; }
      .footer .menu__item:not(:last-of-type) {
        margin-right: 40px; }
      .footer .menu__item a {
        color: #fff; }
      .footer .menu__item.active::before {
        width: 37px; }
      .footer .menu__item.active a {
        font-family: "GothamProBold";
        font-weight: 600; }
    .footer .menu__items-wrap {
      margin-right: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      margin-bottom: 0;
      padding-left: 0;
      flex-wrap: wrap; }
  .footer__form {
    display: flex;
    flex-direction: column; }
    .footer__form label {
      font-size: 16px;
      color: #fff; }
  .footer__svg {
    height: 50px; }
  .footer__subscribe-wrap {
    border: 2px solid #fff;
    padding: 14px 27px;
    border-radius: 27.5px;
    transition: all 0.35s ease;
    background-color: transparent;
    margin-right: auto;
    color: rgba(255, 255, 255, 0.302);
    position: relative;
    max-width: 100%; }
    .footer__subscribe-wrap input {
      font-size: 14px;
      background-color: transparent;
      border: none;
      color: #fff;
      width: 310px;
      padding-right: 35px;
      max-width: 100%; }
      .footer__subscribe-wrap input:focus {
        outline: 0; }
      .footer__subscribe-wrap input::placeholder {
        color: rgba(255, 255, 255, 0.302);
        line-height: 1.857; }
    .footer__subscribe-wrap i {
      position: absolute;
      right: 27px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 24px; }
  .footer__copy {
    padding: 40px 0;
    border-top: 2px solid #fff;
    color: #fff;
    text-align: center;
    font-size: 16px;
    margin-top: 32px; }

@media all and (max-width: 991px) {
  .footer {
    background-color: #121212; }
    .footer .menu__item:not(:last-of-type) {
      margin-right: 15px; } }

@media all and (max-width: 767px) {
  .footer {
    background-color: #121212; }
    .footer .menu {
      flex-direction: column;
      align-items: flex-start; }
      .footer .menu__logo img {
        width: 100%; }
      .footer .menu__item {
        margin-top: 15px; }
      .footer .menu__items-wrap {
        justify-content: flex-start; }
    .footer__copy {
      padding: 25px 0; } }

@media all and (max-width: 375px) {
  .footer .menu__items-wrap {
    display: none; }
  .footer__svg {
    width: 70%; } }

.overlay {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: #121212; }

.popup__form {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #fff;
  padding: 45px 70px;
  max-width: calc(100% - 30px);
  width: 660px;
  border-radius: 10px;
  transition: all 0.35s ease;
  opacity: 0;
  pointer-events: none; }
  .popup__form-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px; }
  .popup__form-content {
    text-align: center;
    margin-bottom: 80px; }
  .popup__form-title {
    font-size: 41px;
    color: #000;
    line-height: 1;
    font-family: "GothamProBold"; }
  .popup__form-desc {
    color: #000;
    line-height: 1; }

.custom__form {
  align-items: center; }

.popup__ok {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #fff;
  padding: 45px 70px;
  max-width: calc(100% - 30px);
  width: 850px;
  border-radius: 10px;
  transition: all 0.35s ease;
  opacity: 0;
  pointer-events: none; }
  .popup__ok-title--ok {
    font-size: 41px;
    color: #000;
    text-align: center;
    font-family: "GothamProBold";
    text-align: center; }
  .popup__ok-icon--ok {
    font-size: 120px;
    color: #2ecc71;
    text-align: center; }

@media all and (max-width: 767px) {
  .popup__form {
    width: 550px; }
    .popup__form-content {
      margin-bottom: 20px; }
    .popup__form-title {
      font-size: 26px;
      margin-bottom: 10px; }
    .popup__form-desc {
      font-size: 14px; }
    .popup__form .custom__form {
      align-items: center; }
  .popup__ok-title--ok {
    font-size: 4vw; }
  .popup__ok-icon--ok {
    font-size: 13vw; } }

@media all and (max-width: 550px) {
  .popup__form {
    padding: 35px 15px 20px; }
    .popup__form-content {
      margin-bottom: 20px; }
    .popup__form-title {
      font-size: 23px; }
    .popup__form .custom__form {
      align-items: center; }
    .popup__form-close {
      top: 5px;
      right: 14px; }
  .popup__ok {
    padding: 20px 15px; }
    .popup__ok-close {
      display: block; }
    .popup__ok-title--ok {
      font-size: 8vw; }
    .popup__ok-icon--ok {
      font-size: 23vw; } }

@-webkit-keyframes fragment_1 {
  0% {
    transform: rotate(0deg) scale(1) translate(0, 0);
    -webkit-transform: rotate(0deg) scale(1) translate(0, 0); }
  50% {
    transform: rotate(180deg) scale(1.1) translate(4%, 4%);
    -webkit-transform: rotate(180deg) scale(1.1) translate(4%, 4%); }
  100% {
    transform: rotate(0deg) scale(1) translate(0, 0);
    -webkit-transform: rotate(0deg) scale(1) translate(0, 0); } }

@keyframes fragment_1 {
  0% {
    transform: rotate(0deg) scale(1) translate(0, 0);
    -webkit-transform: rotate(0deg) scale(1) translate(0, 0); }
  50% {
    transform: rotate(180deg) scale(1.1) translate(4%, 4%);
    -webkit-transform: rotate(180deg) scale(1.1) translate(4%, 4%); }
  100% {
    transform: rotate(0deg) scale(1) translate(0, 0);
    -webkit-transform: rotate(0deg) scale(1) translate(0, 0); } }

@-webkit-keyframes fragment_2 {
  0% {
    transform: scale(1) translate(0, 0);
    -webkit-transform: scale(1) translate(0, 0); }
  50% {
    transform: scale(0.8) translate(7%, 7%);
    -webkit-transform: scale(0.8) translate(7%, 7%); }
  100% {
    transform: scale(1) translate(0, 0);
    -webkit-transform: scale(1) translate(0, 0); } }

@keyframes fragment_2 {
  0% {
    transform: scale(1) translate(0, 0);
    -webkit-transform: scale(1) translate(0, 0); }
  50% {
    transform: scale(0.8) translate(7%, 7%);
    -webkit-transform: scale(0.8) translate(7%, 7%); }
  100% {
    transform: scale(1) translate(0, 0);
    -webkit-transform: scale(1) translate(0, 0); } }

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5); }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5); } }

@keyframes pulsing {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
