@media screen and (max-width: 1200px) {
  .block {
    width: 200px; } }

@media screen and (max-width: 992px) {
  .block {
    width: 200px; } }

@media screen and (max-width: 768px) {
  .block {
    width: 200px; } }

@media screen and (max-width: 480px) {
  .block {
    width: 200px; } }
