$dark_bg: #121212
$white: #fff
$red: rgb(168, 22, 26)
$dark: #000
$gray: rgb(247, 247, 247)
$transition: all .35s ease

*
  font-family: "GothamProRegular"

a:hover
  text-decoration: none

.body
  overflow: hidden


/*********************/
/****** BUTTON *******/
/*********************/
.a-btn-1
  background-color: transparent
  border: 2px solid $red
  color: $white
  padding: 18px 66px
  border-radius: 27.5px
  transition: $transition
  background-color: $red
  background-image: linear-gradient(to right, transparent 50%, $red 50%)
  border-color: $red
  border-width: 1px
  border-style: solid
  background-size: 200% 100%
  background-position: right bottom

  &:hover
    background-color: transparent
    background-position: left bottom
    color: white

.a-btn-2
  border: 2px solid $red
  padding: 18px 66px
  border-radius: 27.5px
  transition: $transition
  color: $dark
  background-color: transparent
  border-color: $red
  border-width: 1px
  border-style: solid
  background-size: 200% 100%
  background-position: right bottom

  &:hover
    background-color: $red
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, $red), color-stop(50%, transparent))
    background-image: linear-gradient(to right, $red 50%, transparent 50%)
    color: $white
    background-position: left bottom

/*********************/
/****** HEADINGS *******/
/*********************/
.heading
  position: relative
  padding-bottom: 45px
  margin-bottom: 110px

  span
    font-size: 53px
    color: $dark
    line-height: 0.7
    text-transform: uppercase
    display: inline-block
    position: relative

  &-title
    font-family: "GothamProBlack"

    &-light
      padding-bottom: 25px

    &-wrap
      display: inline-block
      position: relative

      &::after
        left: calc(100% + 30px)
        border: solid transparent
        content: " "
        height: 0
        width: 0
        position: absolute
        pointer-events: none
        border-color: rgba(18, 18, 18, 0)
        border-left-color: $dark
        border-width: 25px
        margin-top: -25px
        top: 0
        transform: rotate(-45deg)

  &::before
    content: ''
    display: block
    background-image: url(../img/img.png)
    background-repeat: no-repeat
    height: 280px
    width: 4px
    position: absolute
    top: calc(-280px - 30px)

  &::after
    content: ''
    position: absolute
    width: 120px
    height: 10px
    background-color: $red
    bottom: 0
    left: -60px
    border-radius: 5px

  @media all and (max-width: 1440px)
    span
      font-size: 40px

    &-title

      &::after
        border-width: 23px
        margin-top: -23px

  @media all and (max-width: 991px)
    margin-bottom: 80px
    padding-bottom: 30px

  @media all and (max-width: 767px)
    margin-bottom: 40px
    padding-bottom: 20px

    span
      font-size: 34px

    &-title
      &::after
        border-width: 18px
        margin-top: -18px
        left: calc(100% + 18px)

    &::before
      margin-bottom: 30px
      height: 180px
      width: 3px
      top: calc(-180px - 30px)

    &::after
      width: 80px
      height: 6px
      left: -40px
      border-radius: 3px

  @media all and (max-width: 550px)
    &::after
      left: 0

    span
      font-size: 28px

    &-title-wrap
      &::after
        border-width: 17px
        margin-top: -18px
        left: calc(100% + 15px)

/*********************/
/****** HEADER *******/
/*********************/

.header
  background: url("../img/red.svg"), url("../img/f64206cb33ecbf954d2b18f82e5dec02.png")
  background-repeat: no-repeat
  background-position: -17% 56vh, 100% 24vh
  margin-bottom: 85px

  &__wrap
    overflow: hidden
    position: relative

  &__arrow
    position: absolute
    left: 50%
    bottom: -55px
    z-index: 1212
    transform: translateX(-50%)
    color: #fff
    font-size: 40px

  &::before
    content: ''
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0
    background-color: $dark_bg
    z-index: -1

  &::after
    top: 100%
    left: 50%
    border: solid transparent
    content: " "
    height: 0
    width: 0
    position: absolute
    pointer-events: none
    border-color: rgba(18, 18, 18, 0)
    border-top-color: #121212
    border-width: 85px
    margin-left: -85px

@media all and (max-width: 1199px)
  .header
    &::after
      border-width: 65px
      margin-left: -65px

    &__arrow
      bottom: -50px
      font-size: 35px

@media all and (max-width: 991px)
  .header
    background-position: -30% 140% ,100% 140%
    background-size: 50%

@media all and (max-width: 767px)
  .header
    margin-bottom: 45px

    &::after
      border-width: 45px
      margin-left: -45px

    &__arrow
      bottom: -39px
      font-size: 30px

@media all and (max-width: 500px)
  .header
    background-position: -15% 110% ,100% 78vh
    background-size: 50%


/*******************/
/****** MENU *******/
/*******************/
@media all and (min-width: 1025px)
  .menu
    padding: 25px 80px

    &__desktop
      display: grid
      grid-template-columns:  290px 1fr 290px

    &__mobile
      display: none

    &__items-wrap
      display: flex
      justify-content: flex-end
      align-items: center
      height: 100%
      margin-bottom: 0
      padding-left: 0

    &__item
      list-style: none
      position: relative

      a
        color: $white

      &:not(:last-of-type)
        margin-right: 40px

      &::before
        content: ''
        width: 0
        height: 3px
        background-color: $red
        position: absolute
        bottom: 0
        right: 0
        transition: $transition
        border-radius: 1.5px

      &:hover
        &::before
          width: 37px

      &.active
        a
          font-family: "GothamProBold"
          font-weight: 600

        &::before
          width: 37px

    &__language-wrap
      display: flex
      justify-content: flex-end
      align-items: center

    &__language-item
      color: $white
      margin-right: 20px
      position: relative
      line-height: 1
      transition: $transition


      &::before
        content: ''
        background-color: $white
        position: absolute
        top: 50%
        left: 50%
        transform: translateX(-50%) translateY(-50%)
        width: 40px
        height: 40px
        z-index: -1
        border-radius: 50%
        opacity: 0
        transition: $transition

      &.active
        color: $dark

        &::before
          opacity: 1

      &:hover
        cursor: pointer

  @media all and (max-width: 1440px)
    .menu
      &__desktop
        grid-template-columns:  290px 1fr auto

      &__items-wrap
        margin-right: 60px

/*************************/
/****** MOBILE MENU ******/
/*************************/

@media all and (max-width: 1024px)
  .menu
    padding: 15px

    &__desktop
      display: none

    &__mobile
      display: flex
      align-items: center
      justify-content: space-between

    &__hamburger
      display: flex
      align-items: center

      i
        color: $white
        border: 1px solid $white
        width: 40px
        height: 40px
        display: flex
        align-items: center
        justify-content: center
        border-radius: 50%

    &__right
      position: absolute
      padding: 0
      top: 0
      right: 0
      background-color: $white
      transition: $transition
      z-index: 999
      &.active
        box-shadow: 0 0px 20px rgba($white, .8)


    &__close
      color: $dark
      display: flex
      align-items: center
      width: 320px
      padding: 25px 35px
      border-bottom: 1px solid rgba($dark, .1)

      i
        font-size: 30px
        margin-right: 15px

      &-icon
        position: relative
        padding-left: 35px

        &::before,
        &::after
          content: ''
          background-color: $dark
          position: absolute
          width: 30px
          height: 2px
          top: 50%
          left: 0

        &::before
          transform: rotate(45deg) translateY(-50%)

        &::after
          transform: rotate(-45deg) translateY(-50%)

    &__items-wrap
      padding-left: 0
      margin-bottom: 0

    &__item
      list-style: none
      border-bottom: 1px solid rgba($dark, .1)
      font-size: 15px
      font-weight: 500
      letter-spacing: 0.2px
      padding: 15px 35px
      line-height: normal
      transition: $transition

      a
        color: $dark

    &__language-wrap
      display: flex
      justify-content: center
      padding: 25px 35px

    &__language-item
      &:not(:last-of-type)
        margin-right: 25px
      color: $dark
      position: relative
      transition: $transition


      &::before
        content: ''
        background-color: $dark
        position: absolute
        top: 50%
        left: 50%
        transform: translateX(-50%) translateY(-50%)
        width: 40px
        height: 40px
        z-index: -1
        border-radius: 50%
        opacity: 0
        transition: $transition

      &.active
        color: $white

        &::before
          opacity: 1

      &:hover
        cursor: pointer

@media all and (max-width: 375px)
  .menu
    &__logo
      img
        width: 70%

/*********************/
/****** BANNER *******/
/*********************/

.banner
  display: flex
  align-items: center

  &__title
    font-size: 32px
    color: $white
    text-transform: uppercase
    line-height: 1.391
    max-width: 810px
    position: relative
    padding-bottom: 30px
    margin-bottom: 70px

    &::before
      content: ''
      position: absolute
      bottom: 0
      left: 0
      background-color: $red
      width: 117px
      height: 10px
      border-radius: 5px


  &__title-bold
    font-family: "GothamProBlack"

  &__desc
    font-size: 22px
    color: $white
    line-height: 1.455
    max-width: 910px
    margin-bottom: 115px

@media all and (max-width: 991px)
  .banner
    &__title
      max-width: none
      position: relative
      padding-bottom: 15px
      margin-bottom: 30px

    &__desc
      margin-bottom: 60px
      max-width: 100%

@media all and (max-width: 767px)
  .banner
    &__title
      font-size: 24px

    &__desc
      font-size: 18px

@media all and (max-width: 375px)
  .banner
    &__title
      font-size: 6vw

    &__desc
      font-size: 18px



/***********************/
/****** SERVICES *******/
/***********************/

.services
  background-repeat: no-repeat
  background-position: 120% 75vh
  position: relative
  padding-top: 310px

  &::after
    content: url(../img/black.svg)
    display: block
    position: absolute
    left: 66vw
    top: 60vh
    width: 750px
    transform: rotate(-90deg)
    z-index: -5

  &__items
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-gap: 45px


  &__item
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: flex-start
    margin-bottom: 70px
    z-index: 1
    position: relative

  &__desc
    font-size: 23px
    color: $dark
    text-transform: uppercase
    line-height: 1.391
    margin-top: 55px
    position: relative
    padding-bottom: 15px

    &::before
      content: ''
      position: absolute
      width: 63px
      height: 3px
      background-color: $red
      bottom: 0


@media all and (max-width: 991px)
  .services
    padding: 310px 15px 0

    &__items
      grid-gap: 25px

    &__item
      margin-bottom: 40px

    &__desc
      font-size: 18px
      margin-top: 30px

@media all and (max-width: 767px)
  .services
    padding-top: 210px

    &__items
      grid-template-columns: repeat(3, 1fr)

@media all and (max-width: 550px)
  .services
    &::after
      top: 87vh

    &__items
      grid-template-columns: repeat(2, 1fr)
      grid-gap: 15px

@media all and (max-width: 375px)
  .services
    &__item
      margin-bottom: 20px

    &__desc
      font-size: 16px
      margin-top: 20px



/********************/
/****** FACTS *******/
/********************/

.facts
  padding-top: 360px
  position: relative

  &::after
    content: url(../img/black.svg)
    display: block
    position: absolute
    left: -10vw
    top: 57vh
    width: 750px
    transform: rotate(-90deg)
    pointer-events: none

  .heading-title-wrap
    &::after
      border-width: 75px
      margin-top: -78px

  &__desc
    margin-bottom: 230px

  &__btn
    margin: 18px 0

  &__wrap
    display: grid
    grid-template-columns: 1fr 1fr

  &__left
    position: relative


    &::before
      content: ''
      background-color: #f7f7f7
      position: absolute
      width: 1000%
      height: 530px
      z-index: -2
      right: -45px
      top: 47px
      pointer-events: none

  &__right
    position: relative
    padding-left: 45px

    &::before
      content: ''
      position: absolute
      top: -55px
      bottom: -55px
      z-index: -1
      left: 45px
      width: 300%
      background-color: $dark_bg
      pointer-events: none

    &::after
      content: ''
      position: absolute
      height: 140px
      width: 22px
      left: calc( 45px - 11px )
      top: 50%
      background-color: $red
      transform: translateY(-50%)
      z-index: 0
      border-radius: 11px

  &__desc
    font-size: 23px
    color: $dark
    text-transform: uppercase
    line-height: 1.921

  &__heading
    margin-bottom: 80px

  &__items
    padding-left: 85px
    list-style: none

  &__item
    padding-left: 100px
    color: $white
    font-size: 23px
    line-height: 1.304
    position: relative

    span
      font-family: "GothamProBold"

    &:not(:last-of-type)
      margin-bottom: 65px

    &::before
      content: ""
      position: absolute
      background-image: url("../img/check.png")
      width: 44px
      height: 42px
      left: 0
      top: 50%
      transform: translateY(-50%)

@media all and (max-width: 1199px)
  .facts
    &__right
      padding-left: 0

      &::before
        left: 0

      &::after
        left: -11px

    &__desc
      font-size: 18px

    &__items
      padding-left: 55px

    &__item
      padding-left: 70px

      &:not(:last-of-type)
        margin-bottom: 45px

    &::after
      left: -30vw
      top: 60vh

@media all and (max-width: 991px)
  .facts
    .heading-title-wrap
      &::after
        left: 100%
        border-width: 60px
        margin-top: -62px

    &__item
      font-size: 20px

@media all and (max-width: 767px)
  .facts
    padding-top: 220px

    &__wrap
      grid-template-columns: 1fr

    &__desc
      margin-bottom: 45px

    &__left
      &::before
        height: 300px
        top: 33px

    &__right
      margin-top: 140px
      z-index: 1

@media all and (max-width: 550px)
  .facts
    .heading-title-wrap
      &::after
        left: 97%
        border-width: 45px
        margin-top: -47px

@media all and (max-width: 375px)
  .facts
    &__heading
      margin-bottom: 45px

    &__items
      padding-left: 35px

    &__item
      font-size: 16px
      padding-left: 60px

/***********************/
/******* CLIENTS *******/
/***********************/

.clients
  padding-top: 280px
  position: relative

  &::after
    content: url(../img/black.svg)
    display: block
    position: absolute
    left: 71vw
    top: 38vh
    width: 750px
    transform: rotate(-90deg) rotateX(180deg)
    z-index: -5

  &__items
    display: grid
    grid-template-columns: repeat(5, 1fr)
    grid-gap: 20px

  &__item
    filter: grayscale(1)
    transition: $transition

    img
      max-width: 100%

    &:hover
      filter: grayscale(0)

@media all and (max-width: 991px)
  .clients
    &__items
      grid-template-columns: repeat(4, 1fr)
      grid-gap: 15px



@media all and (max-width: 767px)
  .clients
    &__items
      grid-template-columns: repeat(3, 1fr)

@media all and (max-width: 550px)
  .clients
    &__items
      grid-template-columns: repeat(2, 1fr)



.info
  padding-top: 460px

  .heading-title-wrap
    &::after
      border-width: 75px
      margin-top: -78px

  .slick-list
    padding: 0!important

  &__btn
    margin-top: 116px

  &__img
    width: 100%

  &__wrap
    display: flex

  &__slider-left
    width: 50%
    display: flex
    justify-content: center
    flex-direction: column

    .pagingInfo
      font-size: 18px
      color: $dark
      padding-left: 165px
      display: flex
      line-height: 1

      &__current
        font-size: 45px
        font-family: "GothamProBold"

      &__count
        margin-top: 3px

    .slick-next,
    .slick-prev
      top: calc(100% + 23px)
      display: flex
      height: 55px
      width: 55px
      border-radius: 50%
      display: flex
      justify-content: center
      align-items: center
      background-color: $dark_bg
      z-index: 20
      transition: $transition

      &::before
        color: $white
        font-family: "Font Awesome 5 Free"
        font-weight: 600
        opacity: 1
        transition: $transition


      &:hover
        background-color: $white
        box-shadow: 0px 0px 15.04px 0.96px rgba(0, 0, 0, 0.14)

        &::before
         color: $dark

    .slick-prev
      left: 0

      &::before
        content: '\f0d9'

    .slick-next
      left: 75px

      &::before
        content: '\f0da'

  &__slider-right
    .slick-slider
      position: relative

      &::before
        content: ''
        position: absolute
        top: 20%
        left: -25%
        width: 100%
        height: 100%
        background-color: $gray
        z-index: -1

    .slick-next,
    .slick-prev
      display: flex
      justify-content: center
      align-items: center
      z-index: 20
      transition: $transition

      &::before
        color: $dark
        font-family: "Font Awesome 5 Free"
        font-weight: 600
        opacity: 1
        transition: $transition
        font-size: 40px


      &:hover
        &::before
          opacity: .7

    .slick-prev
      left: 15px

      &::before
        content: '\f053'

    .slick-next
      right: 15px

      &::before
        content: '\f054'

  &__title
    font-size: 22px
    color: $dark
    font-weight: bold
    line-height: 1.182
    font-family: "GothamProBold"
    margin-bottom: 40px

  &__desc
    font-size: 14px
    color: $dark
    line-height: 1.571
    max-width: 472px
    margin-bottom: 65px

@media all and (max-width: 1199px)
  .info
    &__title
      margin-bottom: 20px

    &__desc
      margin-bottom: 30px
      padding-right: 15px

    &__btn
      margin-top: 60px

@media all and (max-width: 991px)
  .info
    padding-top: 360px

    .heading-title-wrap
      &::after
        left: 100%
        border-width: 60px
        margin-top: -62px

    &__wrap
      display: block

    &__slider-left
      width: 100%

    &__desc
      min-width: 100%

    &__slider-right
      margin-top: 50px

      .slick-slider
        &::before
          top: 12%
          left: -7%

@media all and (max-width: 991px)
  .info
    padding-top: 230px

@media all and (max-width: 550px)
  .info
    .heading-title-wrap
      &::after
        left: 97%
        border-width: 45px
        margin-top: -47px

